* {
  margin: 0;
  padding: 0;
}
.to-do-section {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  border-radius: 15px;
  width: 600px;
  position: relative;
  left: 30%;
  top: 20%;
}
.btn {
  width: 300px;
}
ul{
background-color:rgb(37, 32, 57);
margin-top: 110px;
border-radius: 20px;
}

li{
display: flex;
align-items: center;
padding: 20px;
justify-content: space-between;
color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
}
button{
  padding: 4px;
}